@import "tailwindcss";

body {
    background-color: rgb(0, 0, 0);
}

div, p, h1, h2, h3, h4, h5, footer, header {
    color: white;
}

.rounded {
    border-radius: 5px;
}

.outline {
    outline-color: black;
    outline-width: var(--size);
}

.text {
    font-size: var(--size);
    color: var(--color);
}